/* Total Page */
.total-content{
    margin: 0 auto;
    width: 90%;
}

button{
    margin: 5px;
    cursor: pointer;
}
/* Top of List Element (Where tasks are added and complete information displayed) */

input{
    margin: 10px
}

/* List Item Content (title, description, due date)*/

.list-display{
    margin-top: 50px;
}

.list-item {
    background-color: white;
    list-style-type: none;
    border-radius: 5px;
    text-align: left;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-content{
    flex: 1;
    margin-left: 20px;
    margin-bottom: 20px;
}

.productivity-information{
    text-align: left;
}

/* List Item Input (buttons and hours) */

#hours {
    margin: 0;
}

#add-button{
    margin: 0;
}

.remove-buttons {
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px;
}

#delete-task:hover {
    background: #970202;
}

#delete-task {
    background: #ca0202;
    font-size: 20px;
    border-radius: 5px; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

#complete-task:hover {
    background: #0f9900;
}

#complete-task {
    background: #14cc00;
    font-size: 20px;
    border-radius: 5px; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

/* Planner */

.planner-display{
    margin-top: 100px;
}

/* Calendar Table*/
table {
    margin: 0 auto;
    flex: 1;
    width: 90%;
    margin-top: 50px;
    table-layout: fixed;
    background-color: white;
    border-radius: 5px;
    margin-left: 67px;
    margin-right: 67px;
    padding-bottom: 80px;
    margin-bottom: 50px;
}

th{
    text-align: center;
    color: black;
}

td{
    text-align: left;
}

.schedule-options{
    font-size: 15px;
}

.scheduled-list-item{
    list-style-type: none;
    text-align: center;
    background-color: gray;
    color:black;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
}